body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

h1{
    color: #143774;
    font-size: 3.375rem;
}

h1,p{
    margin: 0;
    padding: 0;
}
p{
    text-transform: uppercase;
    font-size: 1rem;
}

ul{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

li{
    list-style: none;
    font-size: 1rem;
}

a{
    text-decoration: none;
    margin: 10px;
    color: #707070;
    font-size: 1rem;
}

a:hover, a:focus,a:active{
    text-decoration: underline;
}